= render_listing :clinics

.row
  .col.s3
  .col.s6
    .card
      .card-table-title
        %span Stats of clinics
      .card-table
        %table
          %thead
            %tr
              %th
              %th
              - @borough.each do |b|
                %th= b.label

          %tbody
            %tr
              %th
              %th Total
              - @borough.each do |b|
                %td= @clinics_total[b.name]

            %tr
              %th &nbsp;
              %th Women Care
              - @borough.each do |b|
                %td= @clinics_women_total[b.name]

.fixed-action-btn
  = link_to sync_clinics_path, class: "btn-floating btn-large red tooltiped", "data-position": "left", "data-tooltip": "Import from Resourcemap", method: :post do
    %i.large.material-icons sync

  %ul
    %li
      = link_to "//#{Settings.resmap.host}/en/collections?collection_id=#{Settings.resmap.collection_id}&lat=40.69805090691976&lng=-73.97269839078524&z=11", target: "_blank", class: "btn-floating blue tooltiped", "data-position": "left", "data-tooltip": "Edit clinics in Resourcemap" do
        %i.large.material-icons mode_edit
