!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    %title MiSalud
    = csrf_meta_tags
    %link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    = stylesheet_link_tag    'application', media: 'all'
    = Gon::Base.render_data
    = javascript_include_tag 'application'
  %body
    %nav
      .nav-wrapper
        = link_to '/', class: 'brand-logo' do

          %svg#Layer_1{"data-name" => "Layer 1", :viewbox => "0 0 48.04 48.04", :xmlns => "http://www.w3.org/2000/svg"}
            %defs
              :css
                .cls-1{fill:#ffffff;}
            %path.cls-1{:d => "M314.67,428.7c-1.09-.63-1.5-.52-1.92.21l-.39.67,2.74,1.59.39-.68C315.91,429.79,315.84,429.38,314.67,428.7Zm-3.26,10.14c1.34.06,1.68-.2,1.71-1s-.28-1.1-1.62-1.16-1.69.22-1.73,1S310.07,438.78,311.41,438.84Zm25.32,14.79c-.73.34-.85.75-.28,2s1,1.4,1.7,1.06.83-.77.27-2S337.47,453.29,336.73,453.63Zm3.81-2.85-.56.5,1,1.08.55-.49c.4-.35.45-.61.06-1S340.93,450.43,340.54,450.78ZM318.8,426.56c.59-.53.57-1-.31-2s-1.32-1.06-1.92-.52-.59,1,.3,2S318.2,427.09,318.8,426.56Zm18.1-5c.2-.5.07-.73-.41-.92l-.7-.28-.53,1.34.68.27C336.44,422.12,336.7,422.05,336.9,421.52Zm.68,15.37a.52.52,0,1,0,.54.49A.51.51,0,0,0,337.58,436.88Zm-6.94-14.38c.8.06,1.1-.27,1.2-1.6s-.15-1.68-1-1.74-1.11.25-1.21,1.58S329.84,422.45,330.65,422.51Zm22.84,14.73a24,24,0,1,0-22.73,25.24A24,24,0,0,0,353.48,437.24Zm-7.95-6.4a3.78,3.78,0,0,1,1.75-1.76,3.19,3.19,0,0,1-1.7,4.25A3.78,3.78,0,0,1,345.54,430.84Zm-1.8-1.19a3.19,3.19,0,0,1-.45,4.56,3.19,3.19,0,0,1,.45-4.56Zm-4.45-3.79c.45.36.79.35,1,.06.52-.65-1.61-1.89-.52-3.28a1.64,1.64,0,0,1,2.51-.08,4.09,4.09,0,0,1,1,1.14l-.74.69a4.25,4.25,0,0,0-.86-1c-.52-.41-.79-.34-1-.12-.51.65,1.64,1.86.52,3.27a1.69,1.69,0,0,1-2.59.11,3.47,3.47,0,0,1-1-1.33l.76-.71A3.09,3.09,0,0,0,339.29,425.86ZM335,419l1.81.71c1.22.48,1.65,1.2,1.24,2.25a1.36,1.36,0,0,1-1.35,1l.34,2.51-1.3-.51-.14-2.18-.7-.27-.72,1.84-1.11-.44Zm-6.61,1.7c.14-1.88.88-2.68,2.53-2.56s2.26,1,2.13,2.89-.87,2.69-2.52,2.57S328.29,422.54,328.43,420.66Zm1.21,6a12.08,12.08,0,0,1,10,5.33.36.36,0,1,1-.59.4,11.38,11.38,0,1,0-9.43,17.74,11,11,0,0,0,7.31-2.59,11.84,11.84,0,0,0,3.61-5.66c.21-.73.41-1.41.59-2-.64-.1-2.1-.29-2.37,0a4.86,4.86,0,0,1-3.88,2l-1.86.1c1.09,2.71.69,5.13-2,5.73l-4.49.26a8.1,8.1,0,0,0,.3-2.11l-.18-3.45-2.53.13a2.91,2.91,0,0,1-3-2.91l-.22-4.11a3.3,3.3,0,0,0,2.22.6l3.24-.17s-.18-3.37-.21-4a3,3,0,0,0-.72-1.67l4.75-.27c2.21-.12,2.68,2.25,2.7,2.65l.12,2.26a1,1,0,0,1-.2.67,1.42,1.42,0,0,0,.92-.25c3.25-2.18,6.15.29,6,2.64a3,3,0,0,1,1.55,1.25,14.44,14.44,0,0,1,1-2.49,5.05,5.05,0,0,1,3.2-2.62.36.36,0,0,1,.21.69,4.32,4.32,0,0,0-2.78,2.27,28.48,28.48,0,0,0-1.67,4.94,12.56,12.56,0,0,1-3.84,6,11.7,11.7,0,0,1-7.77,2.76h0a12.1,12.1,0,0,1,0-24.19Zm17,10.59a3.79,3.79,0,0,1,.86,2.33,3.19,3.19,0,0,1-3.14-3.34A3.78,3.78,0,0,1,346.69,437.28Zm-19.06-19,.24,1-1.4.29.85,4.14-1.18.24-.85-4.14-1.39.28-.19-1.06Zm-6.4,1.52a3.74,3.74,0,0,1,1.2-.34l.34,1a3,3,0,0,0-1,.29c-.87.42-1,.9-.44,2s1,1.41,1.92,1a2.61,2.61,0,0,0,.84-.63l.53.82a3.21,3.21,0,0,1-1.06.83c-1.44.69-2.53.23-3.35-1.48S319.7,420.52,321.23,419.79Zm-5.37,3.49c1.24-1.11,2.3-.92,3.56.48s1.33,2.5.09,3.6-2.32.92-3.57-.49S314.62,424.38,315.86,423.27Zm-4,5.09c.84-1.45,1.88-1.66,3.47-.74s1.91,2,1.12,3.38l-1,1.73-4.58-2.65Zm-.28,7.05c1.88.08,2.7.8,2.63,2.45s-.95,2.29-2.83,2.21-2.72-.79-2.65-2.45S309.67,435.33,311.55,435.41Zm-.4,7-2,.48-.27-1.15,5.15-1.23.81,3.39-1,.27-.54-2.26-1.11.26.45,1.88-1,.22Zm.83,7.29,3.49-2.38-.8-1.17.9-.58,2.25,3.3-.87.63-.8-1.18-3.49,2.38Zm5.33,5.77,1.36-1.69-1.44-1.16-1.36,1.69-.93-.75,3.33-4.12.93.75-1.29,1.6,1.44,1.16,1.29-1.6.92.75-3.33,4.12Zm7.67-.86-2.15-.87-.39,1,1.81.73-.35.88-1.81-.73-.45,1.12,2.26.91-.42,1-3.34-1.35,2-4.91,3.24,1.31Zm8.44,4.41-1.42.12-1-3.48-.14-.56h0l-.05.58-.4,3.58-1.42.11-1.67-5.18,1.23-.1,1,3.52.14.56h0l.05-.56.46-3.64,1.29-.1,1,3.49.15.55h0l0-.57.37-3.59,1.18-.1Zm5.18-1.44c-1.48.69-2.48.21-3.28-1.5s-.53-2.77,1-3.46,2.47-.22,3.27,1.49S340.1,456.93,338.59,457.63Zm5.5-4.25-2-.86-.56.5,1.32,1.48-.89.79-3.53-4,1.45-1.29c1-.87,1.81-.93,2.57-.08a1.36,1.36,0,0,1,.3,1.67l2.39.83Zm2-2.26-4.44-2.89.65-1,3.54,2.3,1.19-1.83.88.61Zm3-5.72-.67,1.88-5-1.77.66-1.87c.56-1.59,1.55-2,3.27-1.37S349.61,443.93,349.09,445.41Zm-1.08-8a3.78,3.78,0,0,1-1.58-1.92,3.19,3.19,0,0,1,4.06,2.12A3.78,3.78,0,0,1,348,437.36Zm1.33-3.33a3.78,3.78,0,0,1-2.49,0,3.19,3.19,0,0,1,4.2-1.82A3.78,3.78,0,0,1,349.34,434Zm-2.41,9.44c-1.19-.42-1.57-.23-1.85.56l-.26.73,3,1.06.26-.74C348.35,444.31,348.21,443.92,346.94,443.46Z", :transform => "translate(-305.48 -414.48)"}
          %span Mi Salud
        %ul
          = nav_link 'Dashboard', root_path, controller_name == 'welcome' && action_name == 'index'
          = nav_link 'Clinics', clinics_path, controller_name == 'clinics'
          = nav_link 'Contacts', contacts_path, controller_name == 'contacts' && action_name != 'phone_calls'
          - if controller_name == 'contacts' && action_name == 'phone_calls'
            = nav_link "Calls from #{params[:phone]}", phone_calls_contacts_url(phone: params[:phone]), true

    %main
      = yield

    %footer
      .footer-copyright
        = image_tag 'doctors-of-the-world.svg', width: '48px', height: '48px'
        %span &copy; 2017

        .right
          Version:
          = Rails.application.config.version_name
