!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    %title MiSalud
    = csrf_meta_tags
    %link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    = stylesheet_link_tag    'application', media: 'all'
    = Gon::Base.render_data
    = javascript_include_tag 'application'
  %body
    %nav
      .nav-wrapper
        = link_to '/', class: 'brand-logo' do
          = image_tag 'mi-salud.svg', width: '42px', height: '42px'
          %span Mi Salud
        %ul
          = nav_link 'Dashboard', root_path, controller_name == 'welcome' && action_name == 'index'
          = nav_link 'Map', '/map', controller_name == 'welcome' && action_name == 'map'
          = nav_link 'Clinics', clinics_path, controller_name == 'clinics'
          = nav_link 'Contacts', contacts_path, controller_name == 'contacts'

    %main
      = yield

    %footer
      .footer-copyright
        = image_tag 'doctors-of-the-world.svg', width: '48px', height: '48px'
        %span &copy; 2017
