!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    %title MiSalud
    = csrf_meta_tags
    %link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    = stylesheet_link_tag    'application', media: 'all'
    = Gon::Base.render_data
    = javascript_include_tag 'application'
  %body
    %nav
      .nav-wrapper
        = link_to '/', class: 'brand-logo' do
          = image_tag 'mi-salud.svg', width: '42px', height: '42px'
          %span Mi Salud
        %ul
          %li= link_to 'Dashboard', root_path
          %li= link_to 'Map', '/map'
          %li= link_to 'Clinics', clinics_path
          %li= link_to 'Contacts', contacts_path

    %main
      = yield

    %footer
      .footer-copyright
        = image_tag 'doctors-of-the-world.svg', width: '48px', height: '48px'
        %span &copy; 2017
